.Friend {
  width: 80%;
  margin: 1rem auto;
}
.Friend_box {
  display: grid;
  grid-template-columns: 1.4fr 3fr;
  gap: 2rem;
}
.Friend_box_left {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: .5rem;
}

@media (max-width: 600px) {

  .Friend {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
  }

  .Friend_box {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .Friend_box_left {
    padding: 0.75rem;
    border-radius: 0.5rem;
  }
}
