.Chat {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  overflow-y: scroll;
}
.Chat_box{
    display: grid;
    grid-template-columns: 1fr;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
}

/* .Chat_box {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 80%;
  margin: 0 auto;
  overflow-y: scroll;
} */

.Chat_box_right_p,
.Chat_box_left_p{
    background-color: #f182035b;
    padding: 1rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    position: relative;
}
.Chat_box_left_title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}
.Chat_box_send_img {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Chat_box_send_img input {
  width: 100%;
  background-color: #f182035b;
  outline: none;
  border: none;
  padding: 1rem;
  color: #f18203;
  border-radius: 0.5rem;
}
.Chat_user_info {
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 1;
}
.Chat_user_info_box h4,
.Chat_user_info_box p {
  line-height: 0;
}

.myMessage {
  background-color: #f18303;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  margin: 0.5rem 0;

  align-self: flex-end;
  text-align: left;

  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;

  border: 2px solid #f18303;
}

.friendMessage {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  margin: 0.5rem 0;

  align-self: flex-start;
  text-align: left;

  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
}

.myWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.friendWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .Chat {
    padding: 0.5rem;
    border-radius: 0;
  }

  .Chat_box {
    padding: 0.25rem;
  }

  .myMessage,
  .friendMessage {
    max-width: 90%;
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }

  .Chat_box_send_img input {
    font-size: 1rem;
    padding: 1rem;
  }
}
