.Error{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    width: 400px;
    padding: 2rem;
    border-radius: 20px;

    background: #F18303;
    color: #fff;
    text-align: center;
}




@media only screen and (max-width: 35em) {
    .Error{
        inset: 10% 10% 55% 10%;
    }
}
